spring:
  application:
    name: f1-bet
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    open-in-view: false
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

# SpringDoc OpenAPI Configuration
springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    config-url: /api-docs/swagger-config
    url: /api-docs
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true
  show-actuator: true
  default-consumes-media-type: application/json

logging:
  level:
    com.gs.f1bet: DEBUG
    org.springdoc: DEBUG
    org.springframework.web: DEBUG
